h2 {
    margin-left: 20px;
}

h5 {
    margin-left: 20px;
}

.btn-primary {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.myTable {
  align: center;
}

.login-wrapper {
    float: left;
    background: #00BFFF;
    border-radius: 6px;
    -moz-border-radius: 6px; /* Firefox 3.6 and earlier */
    border: darkgreen solid 1px;
}

@media screen and (min-width: 1200px) {
    .login-wrapper {
        width: 40%;
        margin: 10% 0 0 30%;
        padding: 1%;
        background: #00BFFF;
        border-radius: 6px;
        -moz-border-radius: 6px; /* Firefox 3.6 and earlier */
        border: darkgreen solid 1px;
    }
}

@media screen and (max-width: 1200px) {
    .login-wrapper {
        width: 40%;
        margin: 10% 0 0 30%;
        padding: 1%;
        background: #00BFFF;
        border-radius: 6px;
        -moz-border-radius: 6px; /* Firefox 3.6 and earlier */
        border: darkgreen solid 1px;
    }
}

@media screen and (max-width: 600px) {
    .login-wrapper {
        width: 80%;
        margin: 10% 0 0 30%;
        padding: 1%;
        background: #00BFFF;
        border-radius: 6px;
        -moz-border-radius: 6px; /* Firefox 3.6 and earlier */
        border: darkgreen solid 1px;
    }
}

.login-label {
    float: left;
    width: 70%;
    margin: 0 0 0 15%;
    padding: 1% 0 0 0;
    text-align: center;
}

.login-element {
    float: left;
    width: 70%;
    margin: 0 0 0 15%;
    padding: 1% 0 0 0;
    text-align: center;
}

.login-button {
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    padding: 5% 0 0 0;
    text-align: center;
}

.student-course-wrapper {
    float: left;
    background: #00BFFF;
    border-radius: 3px;
    -moz-border-radius: 3px; /* Firefox 3.6 and earlier */
    border: darkgreen solid 1px;
}

@media screen and (min-width: 1200px) {
    .student-course-wrapper {
        width: 40%;
        margin: 10% 0 0 30%;
        padding: 1%;
        background: #00BFFF;
        border-radius: 6px;
        -moz-border-radius: 6px; /* Firefox 3.6 and earlier */
        border: darkgreen solid 1px;
    }
}

@media screen and (max-width: 1200px) {
    .student-course-wrapper {
        width: 40%;
        margin: 10% 0 0 30%;
        padding: 1%;
        background: #00BFFF;
        border-radius: 6px;
        -moz-border-radius: 6px; /* Firefox 3.6 and earlier */
        border: darkgreen solid 1px;
    }
}

@media screen and (max-width: 600px) {
    .student-course-wrapper {
        width: 80%;
        margin: 10% 0 0 30%;
        padding: 1%;
        background: #00BFFF;
        border-radius: 6px;
        -moz-border-radius: 6px; /* Firefox 3.6 and earlier */
        border: darkgreen solid 1px;
    }
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 300px
}

/* changed */
.sidenav {
    padding-top: 125px;
    background-color: #fff;
    height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 20px;
    }

    .row.content {
        height: auto;
    }
}

hr {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
