<div ng-include src = "'partials/login_menu.html'"></div>

<div class="login-wrapper">
<h3>Login Here!</h3>

<div>Choose Professor/Student Login</div>
<select ng-model = "users">
    <option value = "professor"> Professor
    <option value = "student"> Student
</select>
<hr>
<div ng-switch= "users">
  <div ng-switch-when = "professor">

      <form class="" name="professorLoginForm" ng-controller="loginCtrl">

        <div class="login-label">
        <label>Professor Email:</label></div>
        <div class="login-element">
        <input type="text" ng-model="professor.prof_email" name="username"
        placeholder="Email" required/></div>
        <div class="login-label">
        <label>Password:</label></div>
        <div class="login-element">
        <input type="password" ng-model="professor.prof_password" name="password"
        placeholder="password" required/></div>


        <div class="login-button">

        <button ng-disabled="professorLoginForm.$invalid" ng-click="professorSignIn()"
                     class="form-button" type="submit">Sign In</button>
        </div>


      </form>
  </div>


<div ng-switch= "users">
  <div ng-switch-when = "student">

    <form class="" name="studentLoginForm" ng-controller="loginCtrl">

        <div class="login-label">
        <label>Student Email:</label></div>
        <div class="login-element">
        <input type="text" ng-model="student.student_email" name="username"
        placeholder="Email" required/></div>
        <div class="login-label">
        <label>Password:</label></div>
        <div class="login-element">
        <input type="password" ng-model="student.student_password" name="password"
        placeholder="password" required/></div>

        <div class="login-button">

      <button ng-disabled="studentLoginForm.$invalid" ng-click="studentSignIn()"
               class="form-button" type="submit">Sign In</button>
      </div>

    </form>

  </div>
</div>

<div><a href="#!/student">studentdev</a></div>
<div><a href="#!/professor">advisordev</a></div>
</div>
