<div ng-include src="'partials/professor_menu.html'"></div>

<div class="container-fluid">

    <hr class="my-4">
    <h3 class="display-4"></h3>

</div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
          <fieldset>
            <a href="#!/professor/course" class="btn btn-primary">Add New Course</a>
          </fieldset>

        </div>
        <div class="col-sm-8 text-left">
            <h1>Welcome Professor!</h1>
            <hr>

           <h3 class="text-center">Courses: </h3>
           <table class="mytable" align = "center"  ng-repeat="course in courses | filter:searchText | orderBy: 'course.name'">
           <tr>
           <td style="padding:0 20px 0 20px;" >{{course.name}} -- {{course.course_number}}</td>
            <td><a href="#!/professor/course/{{course._id}}" class="btn btn-primary">Course Details</a></td>
             </tr>
            </table>
        </div>
        <div class="col-sm-2 sidenav">

            <h4>Use the form below to upload a list of courses.</h4>
            <form action="/" method="POST" encType="multipart/form-data">
                <input type="file" name="file" accept="*.csv"/><br/><br/>
                <input type="submit" value="Upload Students"/>
            </form>
        </div>
    </div>
</div>
