<div ng-include src = "'partials/student_menu.html'"></div>

<div class="container-fluid">

      <hr class="my-4">
    <h3 class="display-4"></h3>

  </div>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">

    </div>
    <div class="col-sm-8 text-left">
      <h1>Welcome Student!</h1>
      <hr>
      <h3 class="text-center">My Courses: </h3>
      <table align="center" id="searchTextResults">
  					<tr><th></th></tr>
  				<tr ng-repeat="course in courses | filter:searchText">
    				<td>{{course.name}} -- {{course.course_number}}</td>
						<td><a href="#!/student/course/{{course._id}}" class="btn btn-primary">View Course</a></td>
  			</tr>
			</table>
        <hr>

    </div>
    <div class="col-sm-2 sidenav">

    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-center">

    </div>

    <div class="col-sm-2 sidenav">

    </div>
  </div>
</div>
