<div ng-include src="'partials/professor_menu.html'"></div>

<div class="container-fluid">

    <hr class="my-4">
    <h3 class="display-4"></h3>

</div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">

        </div>
        <div class="col-sm-8 text-left">
            <h1>Add Student to Course</h1>
            <hr>

            <table class="myTable">
                   <tbody>
                     <tr ng-repeat="student in students | filter: search">
                       <td>{{student.last_name}}, {{student.first_name}}</td>
                       <td><button class="btn btn-primary"
                         ng-click="addStudentToCourse(student._id)">
                          Add Student</button>
                     </tr>
                   </tbody>
                 </table>

        </div>
        <div class="col-sm-2 sidenav">


        </div>
    </div>
</div>
