<div ng-include src="'partials/professor_menu.html'"></div>

<div class="container-fluid">

    <hr class="my-4">
    <h3 class="display-4"></h3>

</div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
          <a href="#!/professor/course/{{courseId}}/addProject" class="btn btn-primary">Add New Project</a>
          <a href="#!/professor/course/{{courseId}}/addTeam" class="btn btn-primary">Add New Team</a>
          <a href="#!/professor/course/{{courseId}}/addStudent" class="btn btn-primary">Add Students to Course</a>
        </div>
        <div class="col-sm-8 text-center">

        <div class="container-fluid">
          <h3></h3>
          <p><b>Course Name:</b> {{course.name}}</p>
          <p><b>Course #:</b> {{course.course_number}}</p>
        </div>
        <hr>
        <h3>Students</h3>
        <table class="mytable" align="center">
        <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in students">
          <td> {{student.last_name}}, {{student.first_name}}  </td>
        </tr>
      </tbody>
    </table>
        <hr>

        </div>
        <div class="col-sm-2 sidenav">


        </div>
    </div>
</div>
