<div ng-include src="'partials/professor_menu.html'"></div>


<div class="container-fluid">

    <hr class="my-4">
    <h3 class="display-4"></h3>

</div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">

        </div>
        <div class="col-sm-8 text-left">
            <h1>Add Project</h1>
            <hr>

            <form class="" name="courseForm" ng-controller="profCtrl">

              <div class="login-label">
              <label>Project Name:</label></div>
              <div class="login-element">
              <input type="text" ng-model="course.name" name="name"
               required/></div>
              <div class="login-label">
              <label>Project Number:</label></div>
              <div class="login-element">
              <input type="text" ng-model="course.course_number"
              required/></div>

              <div class="login-button">
              <button ng-disabled="courseForm.$invalid" ng-click="addCourse()"
              class="form-button" type="submit">Create Project</button>
              </div>


              </form>


        </div>
        <div class="col-sm-2 sidenav">


        </div>
    </div>
</div>
