<div ng-include src = "'partials/register_menu.html'"></div>

<div class="login-wrapper">
  <h3>Sign Up Here!</h3>
          <div>Choose Professor/Student Login</div>
          <select ng-model = "users">
              <option value = "professor"> Professor
              <option value = "student"> Student
          </select>
          <hr>
<div ng-switch= "users">
    <div ng-switch-when = "professor">

                <form class="" name="profRegisterForm" ng-controller="registerCtrl">

                      <div class="login-label">
                      <label>First Name:</label></div>
                      <div class="login-element">
                      <input type="text" ng-model="professor.first_name" name="username"
                      placeholder="First Name" required/></div>


                      <div class="login-label">
                      <label>Last Name:</label></div>
                      <div class="login-element">
                      <input type="text" ng-model="professor.last_name" name="username"
                      placeholder="Last Name" required/></div>


                      <div class="login-label">
                      <label>Professor Email:</label></div>
                      <div class="login-element">
                      <input type="text" ng-model="professor.prof_email" name="username"
                      placeholder="Email" required/></div>


                      <div class="login-label">
                      <label>Password:</label></div>
                      <div class="login-element">
                      <input type="password" ng-model="professor.prof_password" name="password"
                      placeholder="password" required/></div>


                      <div class="login-label">
                      <label>Confirm Password:</label></div>
                      <div class="login-element">
                      <input type="password" ng-model="professor.profConfirmPassword" name="password"
                      placeholder="password" required/></div>


                    <div class="login-button">

                    <button ng-disabled="profRegisterForm.$invalid" ng-click="professorSignup()"
                      class="form-button" type="submit">Sign Up</button>


                            </div>
                </form>

              </div>
</div>


<div ng-switch= "users">
            <div ng-switch-when = "student">

              <form class="" name="studentRegisterForm" ng-controller="registerCtrl">

                  <div class="login-label">
                  <label>First Name:</label></div>
                  <div class="login-element">
                  <input type="text" ng-model="student.first_name" name="username"
                  placeholder="First Name" required/>
                  </div>


                  <div class="login-label">
                  <label>Last Name:</label></div>
                  <div class="login-element">
                  <input type="text" ng-model="student.last_name" name="username"
                  placeholder="Last Name" required/></div>


                  <div class="login-label">
                  <label>Student Email:</label></div>
                  <div class="login-element">
                  <input type="text" ng-model="student.student_email" name="username"
                  placeholder="Email" required/>
                  </div>


                  <div class="login-label">
                  <label>Password:</label></div>
                  <div class="login-element">
                  <input type="password" ng-model="student.student_password" name="password"
                  placeholder="password" required/></div>


                  <div class="login-label">
                  <label>Confirm Password:</label></div>
                  <div class="login-element">
                  <input type="password" ng-model="student.confirmPassword" name="password"
                  placeholder="password" required/></div>


                  <div class="login-button">

            <button ng-disabled="studentRegisterForm.$invalid" ng-click="studentSignup()"
             class="form-button" type="submit">Sign Up</button>
          </div>


              </form>

            </div>
        </div>
</div>
