<div ng-include src="'partials/student_menu.html'"></div>

<div class="container-fluid">

    <hr class="my-4">
    <h3 class="display-4"></h3>

</div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-center">

        <div class="container-fluid">
          <h3>Course Info</h3>
          <h4><b>Course Name:</b> {{course.name}}</h4>
          <p><b>Course #:</b> {{course.course_number}}</p>
          <p><b>Course ID:</b> {{course._id}}</p>
        </div>
        <hr>
        <div class="container-fluid">
          <h4>Projects</h4>
          <h5><b>Project Name:</b>  SER-1.0</h5>
        </div>
        </div>
        <div class="col-sm-2 sidenav">


        </div>
    </div>
</div>
